swagger: '2.0'
schemes:
  - https
host: api.giphy.com
basePath: /v1
info:
  contact:
    email: support@giphy.com
  description: Giphy API phantom change
  termsOfService: 'https://developers.giphy.com/'
  title: Giphy
  version: '1.0'
  x-apisguru-categories:
    - media
  x-logo:
    url: 'https://twitter.com/GIPHY/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/faragorn/open-api-specs/master/specs/giphy_api/1.0/index.yml'
      version: '2.0'
  x-providerName: giphy.com
externalDocs:
  description: Official Giphy Documentation
  url: 'https://developers.giphy.com/docs/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    in: query
    name: api_key
    type: apiKey
security:
  - api_key: []
parameters:
  gifId:
    description: Filters results by specified GIF ID.
    format: int32
    in: path
    name: gifId
    required: true
    type: integer
  gifIds:
    description: 'Filters results by specified GIF IDs, separated by commas.'
    in: query
    name: ids
    type: string
  lang:
    description: Specify default language for regional content; use a 2-letter ISO 639-1 language code.
    in: query
    name: lang
    type: string
  limit:
    default: 25
    description: The maximum number of records to return.
    format: int32
    in: query
    name: limit
    type: integer
  offset:
    default: 0
    description: An optional results offset.
    format: int32
    in: query
    name: offset
    type: integer
  query:
    description: Search query term or prhase.
    in: query
    name: q
    required: true
    type: string
  rating:
    description: Filters results by specified rating.
    in: query
    name: rating
    type: string
  tag:
    description: Filters results by specified tag.
    in: query
    name: tag
    type: string
  term:
    description: Search term.
    in: query
    name: s
    required: true
    type: string
responses:
  BadRequest:
    description: Your request was formatted incorrectly or missing required parameters.
  Forbidden:
    description: "You weren't authorized to make your request; most likely this indicates an issue with your API Key."
  NotFound:
    description: 'The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.'
  TooManyRequests:
    description: |
      Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
tags:
  - name: gifs
  - name: stickers
paths:
  /gifs:
    get:
      description: |
        A multiget version of the get GIF by ID endpoint.
      operationId: getGifsById
      parameters:
        - $ref: '#/parameters/gifIds'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/Gif'
                type: array
              meta:
                $ref: '#/definitions/Meta'
              pagination:
                $ref: '#/definitions/Pagination'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Get GIFs by ID
      tags:
        - gifs
  /gifs/random:
    get:
      description: |
        Returns a random GIF, limited by tag. Excluding the tag parameter will return a random GIF from the GIPHY catalog.
      operationId: randomGif
      parameters:
        - $ref: '#/parameters/tag'
        - $ref: '#/parameters/rating'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                $ref: '#/definitions/Gif'
              meta:
                $ref: '#/definitions/Meta'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Random GIF
      tags:
        - gifs
  /gifs/search:
    get:
      description: |
        Search all GIPHY GIFs for a word or phrase. Punctuation will be stripped and ignored.  Use a plus or url encode for phrases. Example paul+rudd, ryan+gosling or american+psycho.
      operationId: searchGifs
      parameters:
        - $ref: '#/parameters/query'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/rating'
        - $ref: '#/parameters/lang'
      responses:
        '200':
          description: Search results
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/Gif'
                type: array
              meta:
                $ref: '#/definitions/Meta'
              pagination:
                $ref: '#/definitions/Pagination'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Search GIFs
      tags:
        - gifs
  /gifs/translate:
    get:
      description: |
        The translate API draws on search, but uses the GIPHY `special sauce` to handle translating from one vocabulary to another. In this case, words and phrases to GIF
      operationId: translateGif
      parameters:
        - $ref: '#/parameters/term'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                $ref: '#/definitions/Gif'
              meta:
                $ref: '#/definitions/Meta'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Translate phrase to GIF
      tags:
        - gifs
  /gifs/trending:
    get:
      description: |
        Fetch GIFs currently trending online. Hand curated by the GIPHY editorial team.  The data returned mirrors the GIFs showcased on the GIPHY homepage. Returns 25 results by default.
      operationId: trendingGifs
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/rating'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/Gif'
                type: array
              meta:
                $ref: '#/definitions/Meta'
              pagination:
                $ref: '#/definitions/Pagination'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Trending GIFs
      tags:
        - gifs
  '/gifs/{gifId}':
    get:
      description: |
        Returns a GIF given that GIF's unique ID
      operationId: getGifById
      parameters:
        - $ref: '#/parameters/gifId'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                $ref: '#/definitions/Gif'
              meta:
                $ref: '#/definitions/Meta'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Get GIF by Id
      tags:
        - gifs
  /stickers/random:
    get:
      description: |
        Returns a random GIF, limited by tag. Excluding the tag parameter will return a random GIF from the GIPHY catalog.
      operationId: randomSticker
      parameters:
        - $ref: '#/parameters/tag'
        - $ref: '#/parameters/rating'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                $ref: '#/definitions/Gif'
              meta:
                $ref: '#/definitions/Meta'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Random Sticker
      tags:
        - stickers
  /stickers/search:
    get:
      description: |
        Replicates the functionality and requirements of the classic GIPHY search, but returns animated stickers rather than GIFs.
      operationId: searchStickers
      parameters:
        - $ref: '#/parameters/query'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/rating'
        - $ref: '#/parameters/lang'
      responses:
        '200':
          description: Search results
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/Gif'
                type: array
              meta:
                $ref: '#/definitions/Meta'
              pagination:
                $ref: '#/definitions/Pagination'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Search Stickers
      tags:
        - stickers
  /stickers/translate:
    get:
      description: |
        The translate API draws on search, but uses the GIPHY `special sauce` to handle translating from one vocabulary to another. In this case, words and phrases to GIFs.
      operationId: translateSticker
      parameters:
        - $ref: '#/parameters/term'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                $ref: '#/definitions/Gif'
              meta:
                $ref: '#/definitions/Meta'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Translate phrase to Sticker
      tags:
        - stickers
  /stickers/trending:
    get:
      description: |
        Fetch Stickers currently trending online. Hand curated by the GIPHY editorial team. Returns 25 results by default.
      operationId: trendingStickers
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - $ref: '#/parameters/rating'
      responses:
        '200':
          description: ''
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/Gif'
                type: array
              meta:
                $ref: '#/definitions/Meta'
              pagination:
                $ref: '#/definitions/Pagination'
            type: object
        '400':
          $ref: '#/responses/BadRequest'
        '403':
          $ref: '#/responses/Forbidden'
        '404':
          $ref: '#/responses/NotFound'
        '429':
          $ref: '#/responses/TooManyRequests'
      summary: Trending Stickers
      tags:
        - stickers
definitions:
  Gif:
    $ref: './schemas/gif.v1.yaml'
  Image:
    $ref: './schemas/image.v1.yaml'
  Meta:
    $ref: './schemas/meta.v1.yaml'
  Pagination:
    $ref: './schemas/pagination.v1.yaml'
  User:
    $ref: './schemas/user.v1.yaml'
